.DS_Store
.gradle
build/
backend/out/
api/out/
grpc-gateway/bin/grpc-gateway

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

.idea/
*.iml
*.iws
*.ipr
logs/

!.gitkeep
